@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{

    --main-color: #72a1cb;
    --dark-color: #181818;
    --light-color: #dedede;

}
body{
    height: 100vh;
}

.firstPage{
    width: 100%;
    height: 100%;
    background: var(--main-color);
    color: var(--dark-color);
    position: relative;
    display: block;
}
.startGame , .gameOver{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.players{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
.players div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.player1 input , .player2 input{
    background: none;
    border: 1px solid var(--dark-color);
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--dark-color);
}
.player1 input:focus , .player2 input:focus{
    outline: none;
    border-color: var(--light-color);
}
.player1 input::placeholder , .player2 input::placeholder{
    color: var(--dark-color);
}
.Btn{
    padding: 0.5rem 1.5rem;
    background: var(--main-color);
    border-radius: 5px;
    border: 2px solid var(--main-color);
    transition: 0.3s;
}
.Btn:hover{
    background: none;
}
.resultBtns{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}
.resultBtns .Btn:hover{
    color: var(--main-color);
}
.gameOverContainer{
    background: #181818aa;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    z-index: 1111111111;
}
.firstPageTitle{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
.secondPage{
    background: var(--main-color);
    width: 100%;
    height: 100%;
    display: none;
    place-content: center;
    position: relative;
}
.gameContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 450px;
    margin-right: 10rem;
}
.playField{
    width: 150px;
    height: 150px;
    display: grid;
    place-content: center;
    font-size: 4rem;
    font-weight: 500;
    user-select: none;
}
.playField:first-child{
    border-right: 3px solid var(--dark-color);
    border-bottom: 3px solid var(--dark-color);
}
.playField:nth-child(2){
    border-bottom: 3px solid var(--dark-color);

}
.playField:nth-child(3){
    border-bottom: 3px solid var(--dark-color);
    border-left: 3px solid var(--dark-color);

}
.playField:nth-child(4){
    border-right: 3px solid var(--dark-color);

}
.playField:nth-child(6){
    border-left: 3px solid var(--dark-color);
}
.playField:nth-child(7){
    border-top: 3px solid var(--dark-color);
    border-right: 3px solid var(--dark-color);
}
.playField:nth-child(8){
    border-top: 3px solid var(--dark-color);
}
.playField:nth-child(9){
    border-top: 3px solid var(--dark-color);
    border-left: 3px solid var(--dark-color);
}
.playField:hover{
    cursor: pointer;
    background: #18181818;
    
}
.playField:active{
    background: #18181840;
}

.scoreBoard{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #18181840;
    /* padding: 1rem 2rem; */
    border: #181818 1px solid;
    display: none;
}
.turnIndicator{
    background: #181818aa;
    padding: 0.5rem 2rem;
    color: var(--light-color);
}
.score{
    padding: 1rem 2rem;
    line-height: 1.7rem;

}
.counters{
    background: #181818aa;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    color: var(--light-color);
    border-radius: 5px;
    border: 0.5px solid var(--dark-color);
}
.winnerField{
    position: relative;
    background-color: #18181840;
}
.winnerField::after{
    content: '';
    height: 5px;
    width: 152px;
    position: absolute;
    background: var(--light-color);
    border-radius: 100vmax;
    z-index: 100000;

}
.horizontalWinnerField::after{
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
}
.verticalWinnerField::after{
    transform: translate(-50% , -50%) rotate(90deg);
    top: 50%;
    left: 50%;
}
.diagonaltopleftWinnerField::after{
    transform: rotate(45deg);
    right: -15%;
    bottom: 35%;

}
.diagonalbottomrightWinnerField::after{
    transform: rotate(45deg);
    left: -15%;
    top: 35%;

}
.diagonalbottomleftWinnerField::after{
    transform: rotate(-45deg);
    right: -15%;
    top: 35%;

}
.diagonaltoprightWinnerField::after{
    transform: rotate(-45deg);
    left: -15%;
    bottom: 35%;

}
.middleWinnerField1::after{
    transform: translate(-50%, -50%) rotate(45deg) ;
    top: 50%;
    left: 50%;
    width: 225px;
}
.middleWinnerField2::after{
    transform: translate(-50%, -50%) rotate(-45deg) ;
    top: 50%;
    left: 50%;
    width: 225px;
}

.turnInd{
    color: var(--main-color);
    font-size: 1.5rem;
}
.waterMark{
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    text-align: center;

}
.waterMark a{
    color: var(--light-color);
}